@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
}

.playfair-font {
  font-family: 'Playfair Display', serif;
}